<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="admin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADMIN-PAGE</h1>
    <form id = "update">  
        <h2>Opdater en bruger</h2>
        <input type="text" id="id" placeholder="id">
        <h3>Skriv de nye oplysninger for brugeren</h3>
        <input type="text" id="name" placeholder="Nyt Name">
        <input type="text" id="password" placeholder="Nyt Password">
        <button  id="changeUserInfo"> Opdater Bruger </button>
    </form>
    <h1>Slet en bruger</h3>
        <form id = "formslet" > 
            <input type="text" id="userid" placeholder="id">
            <button  id="deleteSubmit"> Slet en bruger </button>
    </form>
    <h1>Opgrader Bruger</h3>
        <form id = "form23" > 
            <input type="text" id="userId" placeholder="id">
            <input type="text" id="status" placeholder="status">
            <button  id="opgraderSubmit"> Opgrader bruger </button>
    </form>
    <br/>
    <br/>
    <button  id="hejhej"> Se i alt annoncer </button>
  <h2 id="p1"></h2> 
  <br/>
<br/>
<br/>
 Se alle dine vare <button id="seStat"> se vare </button>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<table id="listStat"> </table>
<br/>

    <script src="admin.js"></script>
</body>
</html>