<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="annoncer.css">


    <nav id="nav-1">
      <a class="link-1" href="mainsite.html">Hjem</a>
      <a class="link-1" href="annoncer.html">Varer</a>
      <a class="link-1" href="profil.html">Profil</a>
      <a class="link-1" href="login.html">Log ud</a>
    </nav>
  
    <title>Varer</title>
</head>
<body>
    <div>
        <h1> Opret Annonce </h1>
        <form id="form1" method="post"> 
            <input type="text" id="title" placeholder="Titel">
            <input type="text" id="price" placeholder="Pris">
            <input type="text" id="colour" placeholder="Farve">

            <select id = "category">
                <option value="andet"> Andet </option>
                <option value = "Biler"> Biler </option>
                <option value = "Fodboldkort"> Fodboldkort </option>
                <option value = "Tøj"> Tøj </option>
              </select>
            
              <select id = "location">
                <option value="Hovedstanden"> Hovedstaden </option>
                <option value = "Sjælland"> Sjælland </option>
                <option value = "Fyn"> Fyn </option>
                <option value = "Jylland"> Jylland </option>
                <option value = "Midtjylland"> Midtjylland </option>
                <option value = "Syd-danmark"> Syddanmark </option>

                File <input type="file" id="billede"><br/>

              </select>
            <button type="submit" name="submit11"> Opret Annonce</button>
        </form>
    </div>

    <div>
        <h1> Slet Annonce </h1>
        <input type="text" id="deleteAnnonce" placeholder="Indtast annoncens titel">
         <button  id="deleteSubmit"> Slet din gamle annonce </button>
    </div>

<div>
    <h1>Opdater Vare</h1>
<form> 
    Gammel titel <input type="text" id="oldTitle" placeholder="Titel på vare der skal ændres"><br/>
    Nye titel <input type="text" id="changeTitle" placeholder="Ændre titel"><br/>
    Nye pris <input type="number" id="changePrice" placeholder="Ændre pris"><br/>
    <input type="text" id="changeColour" placeholder="Farve">

    <select id = "changeCategory">
        <option value="andet"> Andet </option>
        <option value = "Biler"> Biler </option>
        <option value = "Fodboldkort"> Fodboldkort </option>
        <option value = "Tøj"> Tøj </option>
      </select>

      <select id = "changeLocation">
        <option value="Hovedstanden"> Hovedstanden </option>
        <option value = "Sjælland"> Sjælland </option>
        <option value = "Fyn"> Fyn </option>
        <option value = "Jylland"> Jylland </option>
        <option value = "Midtjylland"> Midtjylland </option>
        <option value = "Syd-danmark"> Syd-danmark </option>
      </select>

           
     <button id="ChangeVare"> Opdater Annonce </button>
 </form>

</div>

<br/>
<br/>
<br/>

<h1>Se Alle Dine Annoncer </h1> <button id="seVare"> se vare </button>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<table id="list"> </table>
<br/>








</body>
<script src="annoncer.js"></script>
</html>