<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="opret.css">
    <title>Log ind</title>
</head>
<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log ind</h2>

    <form id = "form" class="login-container">
      <input type="text" id="loginUsername" placeholder="Username">
      <input type="text" id="loginPassword" placeholder="password">
      <p><input id= "submit" type="submit" value="Login"></p>
    </form>
    
    <script src="login.js"></script>
  </div>
  
</body>
