<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Slet bruger</h3>
<form id = 'form' > 
    <input type="text" id="password" placeholder="Password">
    <button  id="deleteSubmit"> Slet din bruger </button>
</form>

<form id = "form2">  
    <button type="submit3" name ="Submit"> Opdater din bruger </button>

</form>
<script src="mainsite.js"> </script>
</body>
</html>
