<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="opret.css">
    <nav id="nav-1">
    <a class="link-1" href="admin.html">Admin</a>
  </nav>
    <title>Opret din profil</title>
</head>
<div class="login">

    <div class="login-triangle"></div>
    
    <h2 class="login-header">Opret din bruger</h2>
  
    <form id = "form" class="login-container">
      <p><input id="name" placeholder="Name"></p>
      <p><input type="password" id = "password" placeholder="Password"></p>
      <p><input id= "submit" type="submit" value="Opret"></p>

    </form>
    <script src="opret.js"></script>
  </div>
  
</body>