<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profil.css">
    <nav id="nav-1">
        <a class="link-1" href="mainsite.html">Hjem</a>
        <a class="link-1" href="annoncer.html">Varer</a>
        <a class="link-1" href="profil.html">Profil</a>
        <a class="link-1" href="login.html">Log ud</a>
      </nav>
</head>
<body>
    <h1>Opdater din bruger</h1>
    <form id = "update">  
        <h3>Skriv dine gamle oplysninger</h3>
        <input type="text" id="oldname" placeholder="Name">
        <input type="text" id="oldpassword" placeholder="Password"> 
        <h3>Skriv dine nye oplysninger</h3>
        <input type="text" id="newname" placeholder="Nyt Name">
        <input type="text" id="newpassword" placeholder="Nyt Password">
        <button  id="changeUserInfo"> Opdater Bruger </button>
    </form>

    <h1>Slet din bruger</h3>
<form id = 'form' > 
    <input type="text" id="password" placeholder="Password">
    <button  id="deleteSubmit"> Slet din bruger </button>
</form>

<br/>

<h1>Se annncer du følger </h1> <button id="seVare"> se vare </button>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<table id="list"> </table>
<br/>

<script src="profil.js"> </script>
</body>
</html>
